{% comment %}theme-check-disable UndefinedObject{% endcomment %}
{{ 'section-footer.css' | asset_url | stylesheet_tag }}
<link rel="stylesheet" href="{{ 'component-newsletter.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-accordion.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-list-menu.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-list-payment.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-list-social.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'disclosure.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-newsletter.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-accordion.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-payment.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-social.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'disclosure.css' | asset_url | stylesheet_tag }}</noscript>


{{ 'Footer.css' | asset_url | stylesheet_tag }}

<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <div class="row">
          {%- for block in section.blocks -%}
            <div class="col-md-2">
              <div class="footer__links"><span class="footer__column-title">{{ block.settings.heading}}</span>
              {%- for link in block.settings.menu.links -%}
                <a href="{{ link.url }}" class="footer__link">{{ link.title }}</a>
              {%- endfor -%}
              </div>
            </div>
            
          {%- endfor -%}
          
          
        </div>
      </div>
      <div class="col-md-3">
        <div class="footer__extra">
          {% if section.settings.newsletter_enable != false %}
          <span class="footer__column-title">{{section.settings.newsletter_heading}}</span>
            {%- form 'customer' -%}
              <input type="hidden" name="contact[tags]" value="newsletter">
              <div class="newsletter-form__field-wrapper">
                <div class="field">
                  <input
                    
                    type="email"
                    name="contact[email]"
                    class="footer__input"
                    value="{{ form.email }}"
                    aria-required="true"
                    autocorrect="off"
                    autocapitalize="off"
                    autocomplete="email"
                    {% if form.errors %}
                      autofocus
                      aria-invalid="true"
                      aria-describedby="ContactFooter-error"
                    {% elsif form.posted_successfully? %}
                      aria-describedby="ContactFooter-success"
                    {% endif %}
                    placeholder="youremail@company.com"
                    required
                    style="width: 100%;"
                  >
                </div>
                {%- if form.errors -%}
                  <small class="newsletter-form__message form__message" id="ContactFooter-error">{% render 'icon-error' %}{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}</small>
                {%- endif -%}
              </div>
              <button type="submit" name="commit" style="width: 100%; font-size: 1rem; padding: 10px 40px; text-align: center; margin-bottom: 1rem;">
                {{ 'newsletter.button_label' | t }}
              </button>
              {%- if form.posted_successfully? -%}
                <h3 style="color: green; font-size: .9rem;">{{ 'newsletter.success' | t }}</h3>
              {%- endif -%}
            {%- endform -%}
          {% endif %}



          <p>{{ section.settings.footer_p}}
          </p>
          {% if section.settings.show_social != false %}
          <div class="footer__social-icons">
            {%- if settings.social_facebook_link != blank -%}
            <a href="{{ settings.social_facebook_link }}" class="footer__social-link"><i
                class="fab fa-facebook-f"></i></a>
            {%- endif -%}
            
            {%- if settings.social_twitter_link != blank -%}
            <a href="{{ settings.social_twitter_link }}" class="footer__social-link">
                <i
                class="fab fa-twitter"></i></a>
            {%- endif -%}
            {%- if settings.social_youtube_link != blank -%}
            <a href="{{ settings.social_youtube_link }}" class="footer__social-link"><i
                class="fab fa-youtube"></i></a>
            {%- endif -%}
            {%- if settings.social_tiktok_link != blank -%}
            <a href="{{settings.social_tiktok_link }}" class="footer__social-link"><i class="fab fa-tiktok"></i></a>
            {%- endif -%}
          </div>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="footer__bottom">
          <div class="footer__copyright">© {{ 'now' | date: "%Y" }}, {{ shop.name }} All Rights Reserved</div>
          <div class="footer__extra-links">
            {%- for link in section.settings.footer_bottom_menu.links -%}
              <a href="{{ link.url }}">{{ link.title }}</a>
            {%- endfor -%}
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>






{% schema %}
{
  "name": "t:sections.footer.name",
  "blocks": [
    {
      "type": "link_list",
      "name": "t:sections.footer.blocks.link_list.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Quick links",
          "label": "t:sections.footer.blocks.link_list.settings.heading.label",
          "info": "t:sections.footer.blocks.link_list.settings.heading.info"
        },
        {
          "type": "link_list",
          "id": "menu",
          "default": "footer",
          "label": "t:sections.footer.blocks.link_list.settings.menu.label",
          "info": "t:sections.footer.blocks.link_list.settings.menu.info"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "textarea",
      "id": "footer_p",
      "label": "Extra Info",
      "default": "I ' m baby viral XOXO jean shorts bushwick lyft. Pour-over man braid distillery, vegan vice meditation brunch cronut. Hella 3 wolf moon kogi, man braid quinoa tumeric umami meggings. Butcher church-key cray, synth vice listicle master cleanse tote bag disrupt semiotics chillwave typewriter post-ironic. "
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__1.content",
      "info": "t:sections.footer.settings.header__1.info"
    },
    {
      "type": "checkbox",
      "id": "newsletter_enable",
      "default": true,
      "label": "t:sections.footer.settings.newsletter_enable.label"
    },
    {
      "type": "text",
      "id": "newsletter_heading",
      "default": "Sign up to our emails",
      "label": "t:sections.footer.settings.newsletter_heading.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__2.content",
      "info": "t:sections.footer.settings.header__2.info"
    },
    {
      "type": "checkbox",
      "id": "show_social",
      "default": false,
      "label": "t:sections.footer.settings.show_social.label"
    },
    {
      "type": "link_list",
      "id": "footer_bottom_menu",
      "label": "Footer Bottom menu"
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "link_list"
      }
    ]
  }
}
{% endschema %}
