{% case section.settings.header_type %}
{% when 'header1' %}
  {{ 'Header1.css' | asset_url | stylesheet_tag }}
<!-- STARTING HEADER 1 -->
<header class="header header1">

  <ul class="header1__collections-nav">
    {%- if section.settings.menu != blank -%}
    {%- for link in section.settings.menu.links -%}
    {%- if link.links == blank -%}
    <li class="header1__collection-link">
      <a href="{{ link.url }}">{{ link.title | escape }}</a>
    </li>
    {%- else -%}
    <li class="header1__collection-link">
      <a href="{{ link.url }}">{{ link.title | escape }} <i class="fas fa-chevron-down"></i></a>

      <ul class="collection-link__sub-links">
        {%- for childlink in link.links -%}
        <li><a href="{{ childlink.url }}">{{ childlink.title | escape }}</a></li>
        {%- endfor -%}
      </ul>
    </li>
    {%- endif -%}
    {%- endfor -%}
    {%- endif %}
  </ul>

  <div class="header1__logo">
    <a href="{{ routes.root_url }}">
      {%- if section.settings.logo != blank -%}
      {%- assign image_size = section.settings.logo_width | append: 'x' -%}
      <img
        srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
        src="{{ section.settings.logo | img_url: image_size }}" loading="lazy" class="header__heading-logo"
        width="{{ section.settings.logo.width }}" height="{{ section.settings.logo.height }}"
        alt="{{ section.settings.logo.alt | default: shop.name | escape }}">
      {%- else -%}
      {{ shop.name }}
      {%- endif -%}
    </a>
  </div>

  <ul class="header1__collections-nav">
    {%- if section.settings.menu_two != blank -%}
    {%- for link in section.settings.menu_two.links -%}
    {%- if link.links == blank -%}
    <li class="header1__collection-link">
      <a href="{{ link.url }}">{{ link.title | escape }}</a>
    </li>
    {%- else -%}
    <li class="header1__collection-link">
      <a href="{{ link.url }}">{{ link.title | escape }} <i class="fas fa-chevron-down"></i></a>

      <ul class="collection-link__sub-links">
        {%- for childlink in link.links -%}
        <li><a href="{{ childlink.url }}">{{ childlink.title | escape }}</a></li>
        {%- endfor -%}
      </ul>
    </li>
    {%- endif -%}
    {%- endfor -%}
    {%- endif %}

    <a href="{{ routes.cart_url }}">
      <i class="fas fa-shopping-cart"></i>
    </a>
    {%- if shop.customer_accounts_enabled -%}
    <a href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}">
      <i class="fas fa-user"></i>
    </a>
    {%- endif -%}

  </ul>
</header>







{% when 'header2' %}
<!-- STARTING HEADER 2 -->
{{ 'Header2.css' | asset_url | stylesheet_tag }}
<header class="header header2">
  <div class="header2__logo">
    <a href="{{ routes.root_url }}">
      {%- if section.settings.logo != blank -%}
      {%- assign image_size = section.settings.logo_width | append: 'x' -%}
      <img
        srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
        src="{{ section.settings.logo | img_url: image_size }}" loading="lazy" class="header__heading-logo"
        width="{{ section.settings.logo.width }}" height="{{ section.settings.logo.height }}"
        alt="{{ section.settings.logo.alt | default: shop.name | escape }}">
      {%- else -%}
      {{ shop.name }}
      {%- endif -%}
    </a>
  </div>
  <ul class="header2__collections-nav">
    {%- if section.settings.menu != blank -%}
    {%- for link in section.settings.menu.links -%}
    {%- if link.links == blank -%}
    <li class="header1__collection-link">
      <a href="{{ link.url }}">{{ link.title | escape }}</a>
    </li>
    {%- else -%}
    <li class="header2__collection-link">
      <a href="{{ link.url }}">{{ link.title | escape }} <i class="fas fa-chevron-down"></i></a>

      <ul class="collection-link__sub-links">
        {%- for childlink in link.links -%}
        <li><a href="{{ childlink.url }}">{{ childlink.title | escape }}</a></li>
        {%- endfor -%}
      </ul>
    </li>
    {%- endif -%}
    {%- endfor -%}
    {%- endif %}
  </ul>
  <div class="header2__collections-nav">
    <a href="{{ routes.cart_url }}">
      <i class="fas fa-shopping-cart"></i>
    </a>
    {%- if shop.customer_accounts_enabled -%}
    <a href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}">
      <i class="fas fa-user"></i>
    </a>
    {%- endif -%}
  </div>
</header>










{% when 'header3' %}
<!-- STARTING HEADER 3 -->
{{ 'Header3.css' | asset_url | stylesheet_tag }}
<header class="header header3">
  <div class="header3__logo">
    <a href="{{ routes.root_url }}">
      {%- if section.settings.logo != blank -%}
      {%- assign image_size = section.settings.logo_width | append: 'x' -%}
      <img
        srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
        src="{{ section.settings.logo | img_url: image_size }}" loading="lazy" class="header__heading-logo"
        width="{{ section.settings.logo.width }}" height="{{ section.settings.logo.height }}"
        alt="{{ section.settings.logo.alt | default: shop.name | escape }}">
      {%- else -%}
      {{ shop.name }}
      {%- endif -%}
    </a>
  </div>
  <ul class="header3__collections-nav">
    {%- if section.settings.menu != blank -%}
    {%- for link in section.settings.menu.links -%}
    {%- if link.links == blank -%}
    <li class="header3__collection-link">
      <a href="{{ link.url }}">{{ link.title | escape }}</a>
    </li>
    {%- else -%}
    <li class="header3__collection-link">
      <a href="{{ link.url }}">{{ link.title | escape }} <i class="fas fa-chevron-down"></i></a>

      <ul class="collection-link__sub-links">
        {%- for childlink in link.links -%}
        <li><a href="{{ childlink.url }}">{{ childlink.title | escape }}</a></li>
        {%- endfor -%}
      </ul>
    </li>
    {%- endif -%}
    {%- endfor -%}
    {%- endif %}
    <li>
      <a href="{{ routes.cart_url }}">
        <i class="fas fa-shopping-cart"></i>
      </a>
    </li>
    <li>
      {%- if shop.customer_accounts_enabled -%}
      <a href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}">
        <i class="fas fa-user"></i>
      </a>
    {%- endif -%}
    </li>
    
    
</header>


{% endcase %}
<!-- 
<script>
  console.log('loaded javascript from header')
  // Get body element
  const bodyTag = document.getElementsByTagName('body')[0];
  const headerWrapper = document.getElementById('shopify-section-header');
  // check for class fixed-nav
  if(bodyTag.classList.contains('fixed-nav') && bodyTag.classList.contains('transparent-nav')) {
    // change styles of header wrapper
    headerWrapper.style.position = 'fixed'
    headerWrapper.style.top = 0;
    headerWrapper.style.left = 0;
    headerWrapper.style.width = '100%';
    headerWrapper.style.zIndex = '7';
    
    // remove class of transparent bg when scrolled
    const onScroll = () => {
      const scrollLocation = document.documentElement.scrollTop;

      if(scrollLocation > 50) {
        bodyTag.classList.remove('transparent-nav')
      } else {
        bodyTag.classList.add('transparent-nav')
      }
    }

    window.addEventListener('scroll', onScroll)
  }
  
</script> -->
<script src="{{ 'zepto.min.js' | asset_url }}"></script>

<script>
  // Get body element
  const bodyTag = $('body');
  const headerWrapper = $('#shopify-section-header');
  // check for class fixed-nav
  if(bodyTag.hasClass('fixed-nav')) {
    // change styles of header wrapper
    headerWrapper.css('position','fixed')
    headerWrapper.css('top', 0);
    headerWrapper.css('left', 0);
    headerWrapper.css('width', '100%');
    headerWrapper.css('z-index', '7');
    
    if(bodyTag.hasClass('transparent-nav')) {
      // remove class of transparent bg when scrolled
      const onScroll = () => {
        const scrollLocation = document.documentElement.scrollTop;

        if(scrollLocation > 5) {
          bodyTag.removeClass('transparent-nav')
        } else {
          bodyTag.addClass('transparent-nav')
        }
      }

      window.addEventListener('scroll', onScroll)
    }
    
  }
</script>

{% schema %}
{
"name": "t:sections.header.name",
"settings": [
{
"type": "select",
"id": "header_type",
"label": "Type Of Header",
"options": [
{
"value": "header1",
"label": "Header 1"
},
{
"value": "header2",
"label": "Header 2"
},
{
"value": "header3",
"label": "Header 3"
}
],
"default": "header1"
},
{
"type": "image_picker",
"id": "logo",
"label": "t:sections.header.settings.logo.label"
},
{
"type": "range",
"id": "logo_width",
"min": 50,
"max": 250,
"step": 10,
"default": 100,
"unit": "t:sections.header.settings.logo_width.unit",
"label": "t:sections.header.settings.logo_width.label"
},
{
"type": "link_list",
"id": "menu",
"default": "main-menu",
"label": "t:sections.header.settings.menu.label"
},
{
"type": "link_list",
"id": "menu_two",
"default": "main-menu",
"label": "Alternate Menu"
}
]
}
{% endschema %}