<!-- dev -->
<!-- <script src="{{ 'vue.js' | asset_url }}"></script> -->
<!-- Production -->
<script src="{{ 'vue.min.js' | asset_url }}"></script>

<style>
	.product-highlight{
		background: black;
		padding: 100px 0;
		
	}
	.product-highlight__img{
		width: 100%;
		height: auto;
	}
	.product-highlight__info-container h2{
		font-size: 2rem;
		color: white;
	}
	.product-highlight__paragraph{
		font-size: 1.2rem;
		line-height: 1.4;
		color: white;
	}
	.product-highlight__button{
		background: white;
		border: none;
		padding: 15px 40px;
	}
</style>

<div class="product-highlight">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				{%- if section.settings.image != blank -%}
					<img srcset="{%- if section.settings.image.width >= 165 -%}{{ section.settings.image | img_url: '165x' }} 165w,{%- endif -%}
						{%- if section.settings.image.width >= 360 -%}{{ section.settings.image | img_url: '360x' }} 360w,{%- endif -%}
						{%- if section.settings.image.width >= 535 -%}{{ section.settings.image | img_url: '535x' }} 535w,{%- endif -%}
						{%- if section.settings.image.width >= 720 -%}{{ section.settings.image | img_url: '720x' }} 720w,{%- endif -%}
						{%- if section.settings.image.width >= 940 -%}{{ section.settings.image | img_url: '940x' }} 940w,{%- endif -%}
						{%- if section.settings.image.width >= 1070 -%}{{ section.settings.image | img_url: '2000x' }} 2000w{%- endif -%}"
						src="{{ section.settings.image | img_url: '533x' }}"
						sizes="(min-width: 1100px) 2000px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
						alt="{{ section.settings.image.alt | escape }}"
						loading="lazy"
						width="{{ section.settings.image.width }}"
						height="{{ section.settings.image.height }}"
						class="product-highlight__img"
					>
				{%- else -%}
					{{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
				{%- endif -%}
			</div>
			<div class="col-md-4">
				<div class="product-highlight__info-container">
					
					{%- for block in section.blocks -%}
					{% case block.type %}
						{%- when 'heading' -%}
							<h2 class="product-highlight__title product-highlight__title--{{- block.settings.title_size -}}">
							 
								{{ block.settings.title | escape }}</h2>
						{%- when 'paragraph' -%}
							<p class="product-highlight__paragraph">
								{{ block.settings.paragraph | escape }}
							</p>
						{%- when 'button' -%}
							{%- if block.settings.button_label != blank -%}
							<button @click="addToCart" class="product-highlight__button">
								{% assign button_title = block.settings.button_label | escape %}
								{% assign product_url = block.settings.button_link  %}
								 ${ button_title } </button>
							{%- endif -%}
					{%- endcase -%}
				{%- endfor -%}
				</div>
			</div>
		</div>
	</div>
	
</div>



<script>
	const productHighlight = Vue.createApp({
		delimiters: ['${', '}'],
		created() {
			fetch('{{product_url}}.js')
			.then(res => res.json())
			.then((data) => {
				this.product_id = data.variants[0].id
				console.log(this.product_id)
			})
		},
		methods: {
			addToCart() {
				console.log('clicked Button to add to cart')
				fetch('/cart/add.js', {
					body: JSON.stringify({
						'id': this.product_id,
						'quantity': 1
					}),
					credentials: 'same-origin',
					headers: {
						'Content-Type': 'application/json',
						'X-Requested-With': 'xmlhttprequest'
					},
					method: 'POST'
				}).then(function (response) {
					return response.json();
				}).then(function (json) {
					console.log(json)
				}).catch(function (err) {
					console.error(err)
				});
			}
		},
		data() {
			return {
				button_title: '{{ button_title }}',
				product_id: ''
			}
		}
	}).mount('.product-highlight')
</script>



{% schema %}
{
	"name": "Product Highlight",
	"class": "spaced-section spaced-section--full-width",
	"settings": [
    {
			"type": "select",
			"id": "hero_height",
			"options": [{
					"value": "25vh",
					"label": "25%"
				},
				{
					"value": "50vh",
					"label": "50%"
				},
				{
					"value": "75vh",
					"label": "75%"
				},
        {
					"value": "100vh",
					"label": "100%"
				}
			],
			"default": "100vh",
			"label": "Height"
		},
    {
			"type": "image_picker",
			"id": "image",
			"label": "t:sections.image-with-text.settings.image.label"
		},
		{
			"type": "color",
			"id": "background",
			"label": "Background",
			"default": "#000000"
		},
		{
			"type": "range",
			"id": "opacity",
			"min": 0,
			"max": 100,
			"step": 1,
			"label": "Opacity",
			"default": 50
		},
		{
			"type": "select",
			"id": "info_alignment",
			"options": [{
					"value": "left",
					"label": "Left"
				},
				{
					"value": "center",
					"label": "Center"
				},
				{
					"value": "right",
					"label": "Right"
				}
			],
			"default": "right",
			"label": "Info Alignment"
		}
	],
	"blocks": [{
			"type": "heading",
			"name": "t:sections.image-with-text.blocks.heading.name",
			"limit": 1,
			"settings": [{
				"type": "text",
				"id": "title",
				"label": "Title",
				"default": "Title"
			},
      {
        "type": "select",
        "id": "title_size",
        "options": [{
            "value": "sm",
            "label": "Small"
          },
          {
            "value": "md",
            "label": "Medium"
          },
          {
            "value": "lg",
            "label": "Large"
          },
          {
            "value": "xl",
            "label": "Extra Large"
          }
        ],
        "default": "md",
        "label": "Font Size"
      }
    ]
		},
		{
			"type": "paragraph",
			"name": "Paragraph",
			"limit": 1,
			"settings": [{
				"type": "textarea",
				"id": "paragraph",
				"label": "Paragraph",
				"default": "Example message I ' m baby kogi cardigan kitsch hammock banjo. Typewriter viral man braid hot chicken, farm-to-table fashion axe intelligentsia lomo green juice ramps irony succulents."
			}]
		},
		{
			"type": "button",
			"name": "t:sections.image-with-text.blocks.button.name",
			"limit": 1,
			"settings": [{
					"type": "text",
					"id": "button_label",
					"default": "Button label",
					"label": "t:sections.image-with-text.blocks.button.settings.button_label.label",
					"info": "t:sections.image-with-text.blocks.button.settings.button_label.info"
				},
				{
					"type": "url",
					"id": "button_link",
					"label": "Link"
				}
			]
		}
	],
	"presets": [{
		"name": "Product Highlight",
		"blocks": [{
				"type": "heading"
			},
			{
				"type": "paragraph"
			},
			{
				"type": "button"
			}
		]
	}]
}
{% endschema %}
